<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4 text-primary mb-4">User Details</h1>
  </div>
  
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0"><%= @employee.fname %> <%= @employee.lname %></h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Company:</strong> <%= @company.name %><br>
        <strong>ID:</strong> <%= @employee.id %>
      </p>

      <div class="d-flex justify-content-between mt-4">
        <a href="#" onclick="openGlobalModal('<%= edit_company_user_path(@company, @employee) %>', 'Edit User')" class='btn btn-secondary'>Edit</a>
        <%= link_to 'View Reimbursement Claims', company_user_reimbursement_claims_path(@company, @employee), class: 'btn btn-info' %>
        <%= link_to 'Back', company_path(@company), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
